<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Where pets come to socialize!</p>
    <a href="/users">Posts</a>
    |
    <a href="/users">Comments</a>
  </body>
</html>
