body {
  padding: 50px;
  font: 14px "Comic Sans MS";
  text-align: center;
}

a {
  color: #00B7FF;
}

/* partials header/navigation*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

#big-G {
  width: 30px;
  height: 30px
};

head {
text-align: left;
}

img {
  height: 50vh;
  align-items: center;
}
	
.delete-form button {
  color: lightpink;
  background-color: red;
  border: none;
  size: 1px 1px 1px 1px;
}
	
