body {
  padding: 50px;
  font: 14px "Comic Sans MS";
  text-align: center;
}

a {
  color: #00B7FF;
}

/* partials header/navigation*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}