* {
  background-color: whitesmoke;
}

h1 {
background-color: lightskyblue;
}

body {
  padding: 50px;
  font: 14px "Comic Sans MS";
  text-align: center;
}

a {
  color: #00B7FF;
}

img {
  height: 40vh;
  width: 65vh;
}

/* partials header/navigation*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-form button {
  color: lightpink;
  background-color: red;
  border: none;
  size: 1px 1px 1px 1px;
}

Edit button {
  border: none;
}

.comment-user {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.comment-user img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.post-user {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.post-user img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

#big-G {
  width: 30px;
  height: 30px;
  align-items: center;
};

