<%- include('../partials/header') %>

<section id="show-page">
  <div>Create Post</div>
  <div><%= post.description %></div>
  <div>Add Comment </div>
  <div><%= comment.post %></div>
</section>
  
<%- include('../partials/footer') %>